### Intellij ###
.idea/
*.iml
out/

### Code ###
.vscode/

### Eclipse ###
.metadata
.project
.classpath
.settings/

### Java ###
# Compiled class file
*.class
# Log file
*.log

### Maven ###
target/
.mvn/wrapper/maven-wrapper.jar

### macOS ###
.DS_Store
._*
